.btn {
    border: 0;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.btn:hover {
    background: #eee;
}

.back {
    color: black;
}
